<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

</head>
<body>

<div id="hud">
  <p>FPS: <span id="fps"></span></p>
</div>

<canvas id="gameCanvas"></canvas>

<div id="end-screen">
  <h2>Winner!</h2>
  <h3>You are soooo goood!</h3>
</div>

</body>
</html>