<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

</head>
<body>

<div id="hud">
  <p>CAR: <span id="car-pos"></span></p>
  <p>VELOCITY: <span id="car-velocity"></span></p>
  <p>CAMERA: <span id="camera-pos"></span></p>
</div>

<canvas id="gameCanvas"></canvas>

</body>
</html>