@import url('https://fonts.googleapis.com/css?family=Courgette');

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Courgette', cursive;
}

#hud {
	position: absolute;
	left: 10px;
	top: 10px;
}

#hud p:first-child {
	margin-top: 0;
}

#end-screen {
	visibility: hidden;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#end-screen * {
	display: flex;
	align-self: center;
	color: #f3f3f3;
}

#end-screen h1 {
	font-size: 7rem;
}

#end-screen h2 {
	font-size: 4rem;
}

#end-screen a {
	font-size: 2rem;
	text-decoration: none;
	border: 1px solid #f3f3f3;
	padding: 0.5em;
}

#end-screen a:hover {
	background: #f3f3f3;
	color: #3f3f3f;
}

.visible {
	visibility: visible !important;
}
